# Osobna baza na testy — zawartość jest kasowana przed każdym testem!
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/korkigo_test?schema=public"
AUTH_SECRET="testowy-sekret-min-32-znaki-dlugosci-ok"
